h1
{ 
text-align: left;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:black;
}

html
{
	background: ("chevronstripes.jpg") no-repeat center center fixed;
background-size: cover;
background-position: center;
}

body
{ 
text-align: center;
font-family: helvetica;
color:black
}

input
{
	border: 0;
	padding: 10px;
	font-size: 15px;
}

input[type="submit"] {
	background:gray;
	color:white;
}

#content {
	background:orange;
	width:500px
	margin-left:auto
	margin-right:auto;
}