h1
{
img src=""
text-align: center;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#3E7585;
background:white;
}

body {
width: 100%;
text-align:center;
background-image: url('../chevronbg.png');
font-family:helvetica;
color:#3E7585
}

#content
{
	background:#ffffff;
    width: 900px;
    height: 1000px;
    margin: 0 auto;
}


#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

input
{
	border: 0;
	padding: 10px;
	font-size: 15px;
}

input[type="submit"] {
	background:gray;
	color:white;
}
