h1
{ 
text-align: left;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:black;
background:red;
}
<style>
body
{ 
text-align:center;
background:gray;
font-family:helvetica;
color:black
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

input
{
	border: 0;
	padding: 10px;
	font-size: 15px;
}

input[type="submit"] {
	background:gray;
	color:white;
}

#content
{
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

</style>